$error: #ff0000;
$bgLight: #ffffff;
$bgLight200: #dff3fe;
$bgLight300: #ffdcba;
$bgLight400: rgba(255, 255, 255, 0.6);
$bgBody: #d1e278;
$text: #082085;
$boxShadow: #2448e1;
$disabled: #808080;
$inputEdit: rgba(36, 72, 225, 0.18);
$active: #765df3;
$dark: rgba(0, 0, 0, 0.3);
$dark800: #05103b;
$login: rgb(169, 167, 238);

$bgBodyImg: "/image/bg-body.jpg";
$bgText: "/image/bg-text.png";
$pig: "image/pig.png";
$pigActive: "image/pig-active.png";
$check: "image/check.png";
$deleteGrey: "image/delete-grey.png";
$delete: "image/delete.png";
$pigs: "image/pigs.png";
$nikName: "image/nikname.png";
$nikNameSmall: "image/nikname-small.png";
$logOut: "image/logout.png";
$checkbox: "image/checkbox.png";
$beers: "image/beers.png";